.message {
  display: flex;
  align-items: center;
  padding: 8px;
  color: white;
}

.message__info {
  margin-left: 20px;
}

.message__info > h5 {
  margin: 0;
  color: rgb(230, 230, 230);
}
.message__info > p {
  margin: 0;
}
